*, *::after, *::before{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-out;
    border: 2px solid palevioletred;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 500px;
    max-width: 80%;
    text-align: left;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid palevioletred;
}

.modal-header .title {
    font-size: 1.2em;
    font-weight: bold;
    color: palevioletred;
}

.modal-header .close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.8em;
    font-weight: bold;
    color: palevioletred;
}

.modal-body {
    padding: 10px 15px;
}

.modal .modal-body .manage-password {
    padding: 10px 10px 10px 10px;
    border: 1px white solid;
    border-radius: 10px;
    text-align: center;
    
}

#password-label {
    font-weight: bold;
    color: palevioletred;
}

#pass {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    background: none;
    border: 2px palevioletred solid;
    border-radius: 5px;
    color: palevioletred;
}

#submit {
    font-size: 1.5em;
    padding: 0px 5px 5px 0px;
    transition: .2s ease-in-out;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#submit:hover {
    transform: scale(1.1);
    color: palevioletred;
    font-weight:750;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: .8s ease-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: palevioletred;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity:.6;
}

.error-message {
    color: rgb(75, 164, 201);
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    opacity: 0; /* Start hidden */
    transform: scale(0); /* Initial state for the pop effect */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  .error-message.show {
    animation: pop 0.4s ease-out;
    opacity: 1; /* Fully visible when the class is added */
    transform: scale(1);
  }

  @keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  